{{- /*
  featured.html (shortcode): Renders the latest post with `featured = true`.

  Target: _index.md

  Example:
  {{< featured TYPE="" >}}

  Params: 
  - TYPE (string, optional): Visual style of the featured article. Values:
banner, simple, plain. Default: plain
  
  Error handler: 
  - warnf (To-do)
  - OCD (To-do) 
  
  To-do: 
  1. Docs: https://alpha.oxypteros.com/docs/shortcodes/featured 
  2. Add OCD error checks

  Repo: https://github.com/oxypteros/alpha-theme 
*/ -}}
{{- /* Case-insensitive parameter retrieval (default chaining) */}}
{{- $type := .Get "TYPE" | default (.Get "Type") | default (.Get "type") | default "plain" }}
{{- /* Allow case-insensitive matching*/}}
{{- $type = lower $type }}
{{- /* Retrieve featured post info */}}
{{- $title := "" }}
{{- $summary := "" }}
{{- $link := "" }}
{{- $dateMachine := "" }}
{{- $modDateMachine := "" }}

{{- range first 1 (where .Site.RegularPages.ByDate.Reverse ".Params.featured" true) }}
  {{- $title = .Page.Title }}
  {{- $summary = .Page.Summary }}
  {{- $link = .Page.RelPermalink }}
  {{- $dateMachine = or .Page.Date (now) | time.Format "2006-01-02T15:04:05-07:00" -}}
  {{- $modDateMachine = or .Page.Lastmod $dateMachine | time.Format "2006-01-02T15:04:05-07:00" -}}
{{- end }}

{{- /* Check if the post is updated */}}
{{- $isUpdated := ne $modDateMachine $dateMachine -}}
{{- if $isUpdated }}
  {{- $dateMachine = $modDateMachine }}
{{- end }}

{{- /* Shortcode Rendering */}}
{{- if eq $type "banner" }}
  <div
    class="sc-featured bg-menu dark:bg-menu-d mt-8 mb-32 flex w-full flex-col items-center justify-center px-4"
  >
    <article class="text-on-menu dark:text-on-menu-d my-20 w-full max-w-3xl">
      <header>
        <h2 class="text-on-menu-var dark:text-on-menu-var-d font-300 text-5xl">
          {{ $title }}
        </h2>
        <time datetime="{{- $dateMachine }}"></time>
      </header>
      {{- with $summary }}
        <div class="my-16 text-lg">{{ . }}</div>
      {{- end }}
      <footer class="flex items-center justify-end">
        <a
          class="btn-link bg-sur-var hover:bg-sur dark:bg-sur-var-d font-500 border-out-var dark:border-out-var-d hover:dark:bg-sur-d dark:text-on-sur-var-d text-on-sur-var dark:hover:text-on-sur-d hover:text-on-sur group flex items-center justify-center rounded-full border px-4 py-3 text-base transition-colors duration-400 ease-in-out hover:shadow-md"
          href="{{ $link }}"
          aria-label="{{- i18n "ReadTheRest" . |default "Read the rest of the post titled as:" }} {{ $title }}"
          data-prerender="true"
        >
          <div class="flex items-center justify-center">
            <div class="px-4 text-center">
              {{ i18n "ReadNow" . | default "Read Now " }}
            </div>
            <svg
              class="fill-on-sur-var dark:group-hover:fill-on-sur-d group-hover:fill-on-sur dark:fill-on-sur-var-d size-6 shrink-0 transition-all duration-400 ease-in-out group-hover:translate-x-1"
              aria-hidden="true"
            >
              <use href="#icon-forward"></use>
            </svg>
          </div>
        </a>
      </footer>
    </article>
  </div>
{{- else if eq $type "simple" }}
  <div
    class="sc-featured mt-8 mb-32 flex w-full flex-col items-center justify-center"
  >
    <article class="flex w-full flex-col items-center">
      <header
        class="bg-menu dark:bg-menu-d text-on-menu-var dark:text-on-menu-var-d flex w-full items-center justify-center gap-10 py-8"
      >
        <h2 class="font-300 w-full max-w-3xl text-5xl">{{ $title }}</h2>
          <time datetime="{{- $dateMachine }}"></time>
      </header>
      {{- with $summary }}
        <div
          class="text-on-bg dark:text-on-bg-d mt-8 mb-16 w-full max-w-3xl px-3 text-lg"
        >
          {{ . }}
        </div>
      {{- end }}
      <footer
        class="bg-menu dark:bg-menu-d flex w-full items-center justify-center py-8"
      >
        <div class="flex w-full max-w-3xl items-center justify-end">
          <a
            class="btn-link bg-sur-var hover:bg-sur dark:bg-sur-var-d font-500 border-out-var dark:border-out-var-d hover:dark:bg-sur-d dark:text-on-sur-var-d text-on-sur-var dark:hover:text-on-sur-d hover:text-on-sur group flex w-fit items-center justify-center rounded-full border px-4 py-3 text-base transition-colors duration-400 ease-in-out hover:shadow-md"
            href="{{ $link }}"
            aria-label="{{- i18n "ReadTheRest" . |default "Read the rest of the post titled as:" }} {{ $title }}"
            data-prerender="true"
          >
            <div class="flex items-center justify-center">
              <div class="px-4 text-center">
                {{ i18n "ReadNow" . | default "Read Now " }}
              </div>
              <svg
                class="fill-on-sur-var dark:group-hover:fill-on-sur-d group-hover:fill-on-sur dark:fill-on-sur-var-d size-6 shrink-0 transition-all duration-400 ease-in-out group-hover:translate-x-1"
                aria-hidden="true"
              >
                <use href="#icon-forward"></use>
              </svg>
            </div>
          </a>
        </div>
      </footer>
    </article>
  </div>
{{- else if eq $type "plain" }}
  <div
    class="sc-featured mt-8 mb-32 flex w-full flex-col items-center justify-center px-4 pt-8 pb-20"
  >
    <article class="w-full max-w-3xl">
      <header>
        <h2 class="text-on-sur-var dark:text-on-sur-var-d font-300 text-5xl">
          {{ $title }}
        </h2>
        <time datetime="{{- $dateMachine }}"></time>
      </header>
      {{- with $summary }}
        <div class="my-16 text-lg">{{ . }}</div>
      {{- end }}
      <footer class="flex items-center justify-end">
        <a
          class="btn-link bg-sur-var hover:bg-sur dark:bg-sur-var-d font-500 border-out-var dark:border-out-var-d hover:dark:bg-menu-d dark:text-on-sur-var-d text-on-sur-var dark:hover:text-on-sur-d hover:text-on-sur group flex items-center justify-center rounded-full border px-4 py-3 text-base transition-colors duration-400 ease-in-out hover:shadow-md"
          href="{{ $link }}"
          aria-label="{{- i18n "ReadTheRest" . |default "Read the rest of the post titled as:" }} {{ $title }}"
          data-prerender="true"
        >
          <div class="flex items-center justify-center">
            <div class="px-4 text-center">
              {{ i18n "ReadNow" . | default "Read Now " }}
            </div>
            <svg
              class="fill-on-sur-var dark:group-hover:fill-on-sur-d group-hover:fill-on-sur dark:fill-on-sur-var-d size-6 shrink-0 transition-all duration-400 ease-in-out group-hover:translate-x-1"
              aria-hidden="true"
            >
              <use href="#icon-forward"></use>
            </svg>
          </div>
        </a>
      </footer>
    </article>
  </div>
{{- end }}
