{{- /*
  Shortcode: recent.html
  Purpose: Renders a list of the latest posts.

  Target: _index.md

  Example:
  {{< recent TITLE="" LIMIT="">}}

  Params: 
  - TITLE (string, optional): H2 heading. 
  - LIMIT (integer, optional): Number of items to show (Default: 4). 
  
  Error handler: 
  - warnf (To-Do) 
  - OCD (To-Do) 
  To-do: 1. Enable OCD 
  
  Repo: https://github.com/oxypteros/alpha 
*/}}
{{- /* Case-insensitive parameter retrieval (default chaining) */}}
{{- $title := .Get "TITLE" | default (.Get "Title") | default (.Get "title") }}
{{- $limit := .Get "LIMIT" | default (.Get "Limit") | default (.Get "limit") }}

{{- /* Validate limit value */}}
{{- $isNumber := (printf "%v" $limit | findRE "^[1-9][0-9]*$") }}

{{- $intNumber := 4 }}
{{- $warnNumber := false }}

{{- if $isNumber }}
  {{- $intNumber = (index $isNumber 0 | int) }}
{{- else if $limit }}
  {{- $warnNumber = true }}
{{- end }}

{{- /* Shortcode Rendering */}}
  {{- /* Create unique id's for aria-labels in case of multiple shortcodes*/}}
  {{- $base := .Page.File.BaseFileName | urlize }}
  {{- $ordinal := .Ordinal | default (now.UnixNano) }}
  {{- $uid := printf "%s-%v" $base $ordinal }}
<section 
  class="mt-8 mb-32 flex w-full max-w-7xl flex-col items-center px-4"
  aria-labelledby="recent-heading-{{- $uid -}}"  
>
  {{- /* Optional title rendering. */}}
  {{- with $title }}
  <div
    class="flex w-full items-center justify-center gap-4 sm:justify-normal min-w-0"
  >
    <div
      class="bg-out-var dark:bg-out-var-d h-0.5 max-w-1/8 grow rounded-full"
    ></div>
    <h2
      id="recent-heading-{{- $uid -}}"
      class="text-on-sur-var dark:text-on-sur-var-d font-300 text-3xl min-w-0 break-words hyphens-manual"
    >
      {{- . -}}
    </h2>
    <div class="bg-out-var dark:bg-out-var-d h-0.5 grow rounded-full"></div>
  </div>
  {{- else }}
  <h2 
    id="recent-heading-{{- $uid -}}" 
    class="sr-only"
  >
  {{- i18n "RecentArticles" | default "Latest Articles" -}}
  </h2>
  {{- end }}
  <div class="mt-24 flex w-full flex-wrap items-center justify-center gap-25">
    {{- range first $intNumber .Site.RegularPages.ByDate.Reverse }}
      {{- partial "components/card-post.html" . }}
    {{- end }}
  </div>
</section>
