{{- /*
  Layout: list.html
  Purpose: Defines the main HTML structure  for the Alpha list layout.

  Repo: https://github.com/oxypteros/alpha
*/}}
{{- define "main" }}
  <div class="flex flex-col items-center">
    <h1
      class="dark:text-on-sur-var-d font-300 text-on-sur-var my-32 flex w-full max-w-7xl flex-col px-4 text-center text-4xl leading-normal wrap-break-word hyphens-manual sm:text-6xl"
    >
      {{- .Title | safeHTML -}}
    </h1>
    {{ .Content }}
    {{- partial "components/paginator.html" . }}
  </div>
{{- end }}
