{{- /*
  Layout: page.html 
  Purpose: Defines the main HTML structure  for the Alpha default content page 
  layout.

  Repo: https://github.com/oxypteros/alpha
*/}}
{{- define "main" }}
  <div class="flex flex-col items-center">
    <article class="flex w-full max-w-7xl flex-col items-center px-4">
      <header class="mt-16 flex w-full flex-col items-center">
        {{ partial "components/metadata-series.html" . }}
        <h1
          class="dark:text-on-sur-var-d font-300 text-on-sur-var my-32 w-full max-w-7xl text-center text-4xl leading-normal wrap-break-word hyphens-manual sm:text-6xl"
        >
          {{- .Title | safeHTML -}}
        </h1>
        <div
          class="max-w-article my-16 flex w-full items-center justify-between text-lg"
        >
          <div class="flex items-center gap-1 text-sm sm:gap-2">
            {{- with .Page.Params.author }}
              <svg
                class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0 sm:size-5"
                aria-hidden="true"
                width="20"
                height="20"
              >
                <use href="#icon-author"></use>
              </svg>
              <span class="sr-only">
                {{ i18n "WrittenBy" . | default "Written by" }}
              </span>
              {{ . }}
            {{- end }}
          </div>
          {{ partial "components/metadata-icon-date.html" . }}
        </div>
      </header>
      <div
        class="article-content max-w-article mx-auto w-full text-lg leading-normal"
      >
        {{ .Content }}
      </div>
      {{- if eq .Page.Params.github_edit true }}
        {{- partial "components/edit-github.html" . }}
      {{- end }}
      <footer
        class="max-w-article my-16 mb-56 flex w-full flex-col items-center gap-2 text-lg"
      >
        {{- if isset .Page.Params "license" }}
          {{- if ne .Page.Params.license "" }}
            <div
              class="bg-out-var dark:bg-out-var-d h-0.5 w-full rounded-full"
            ></div>
            <div class="flex w-full flex-wrap justify-between gap-4 px-2">
              {{ partial "components/metadata-license.html" . }}
            </div>
            <div
              class="bg-out-var dark:bg-out-var-d h-0.5 w-full rounded-full"
            ></div>
          {{- end }}
        {{- end }}
        <div class="flex w-full flex-4 flex-wrap justify-between gap-4 px-2">
          {{ partial "components/metadata-taxonomy.html" . }}
        </div>
        {{- if .Page.Params.series }}
          {{ partial "components/navigation-series.html" . }}
        {{- end }}
      </footer>
    </article>
    <div class="mb-24 w-full max-w-7xl px-4">
      {{ partial "components/recommended-posts.html" . }}
    </div>
  </div>
{{- end -}}
