{{- /*
  Layout: story.html 
  Purpose: Defines the main HTML structure for Alpha's story layout.

  Repo: https://github.com/oxypteros/alpha
*/}}

{{ define "main" }}
  <div class="flex flex-col items-center">
    <article class="flex w-full max-w-7xl flex-col items-center px-4">
      <header class="mt-16 mb-32 flex w-full flex-col items-center">
        {{ partial "components/metadata-series.html" . }}
        <h1
          class="dark:text-on-sur-var-d font-300 text-on-sur-var mt-64 mb-16 w-full px-4 text-center font-serif text-4xl leading-normal wrap-break-word hyphens-manual sm:text-6xl"
        >
          {{ .Title | safeHTML }}
        </h1>
      </header>
      {{- $dropcap := "" }}
      {{- if eq .Page.Params.dropcap true }}
        {{- $dropcap = "dropcap" }}
      {{- end }}
      <div
        id="story-content"
        class="{{- $dropcap }} story-content max-w-story mx-auto w-full font-serif text-lg leading-normal"
      >
        {{ .Content }}
      </div>
      <footer
        class="max-w-story mt-16 mb-56 flex w-full flex-col items-center gap-2 text-lg"
      >
        <div
          class="bg-out-var dark:bg-out-var-d h-0.5 w-full rounded-full"
        ></div>
        <div class="flex w-full flex-wrap justify-between gap-4 px-2">
          {{ partial "components/metadata-license.html" . }}
          {{ partial "components/metadata-date.html" . }}
        </div>
        <div
          class="bg-out-var dark:bg-out-var-d h-0.5 w-full rounded-full"
        ></div>
        <div class="flex w-full flex-4 flex-wrap justify-between gap-4 px-2">
          {{ partial "components/metadata-taxonomy.html" . }}
        </div>
        <div class="w-full">
          {{- if .Page.Params.series }}
            {{ partial "components/navigation-series.html" . }}
          {{- end }}
        </div>
      </footer>
    </article>
    <div class="mb-24 w-full max-w-7xl px-4">
      {{ partial "components/recommended-posts.html" . }}
    </div>
  </div>
{{- end -}}
