{{- /*
  Layout: utility,html
  Purpose: Defines the main HTML structure for Alpha's utility layout.

  Repo: https://github.com/oxypteros/alpha
*/}}

{{- define "main" }}
  <div class="flex flex-col items-center">
    <article class="mb-64 flex w-full max-w-7xl flex-col items-center px-4">
      <header class="mt-16 mb-8 flex w-full flex-col items-center">
        <div class="max-w-story w-full text-lg">
          {{- if eq .Page.Params.show_date true }}
            {{ partial "components/metadata-icon-date.html" . }}
          {{- end }}
        </div>
        <h1
          class="dark:text-on-sur-var-d font-300 text-on-sur-var mt-32 mb-16 w-full px-4 text-center text-4xl leading-normal wrap-break-word hyphens-manual sm:text-6xl"
        >
          {{ .Title | safeHTML }}
        </h1>
      </header>
      <div
        class="page-content max-w-story mx-auto w-full text-lg leading-normal"
      >
        {{ .Content }}
      </div>
    </article>
    <div class="mb-header w-full max-w-7xl px-4">
      {{ partial "components/recommended-posts.html" . }}
    </div>
  </div>
{{- end }}
