{{- /*
  Partial: head/ocd.html
  Purpose: Appends the necessary CSS and JS for OCD on the `<head>`.

  Note:
  - The OCD related assets are never included in production builds, maintaining
  a clean and optimized output.

  Repo: https://github.com/oxypteros/alpha
*/}}

{{- with resources.Get "alpha/css/ocd.css" }}
  <link rel="stylesheet" href="{{ .RelPermalink }}" />
{{- end }}

{{- with resources.Get "alpha/js/ocd.js" }}
  <script type="module" src="{{ .RelPermalink }}"></script>
{{- end -}}
