/* Highlight */
html {
  --cod-bg: #fbfcfe;
  --cod-text: #000;
  --cod-text-var:#545454;
  --cod-red: #6F0505;
  --cod-red-var: #9B0D0D;
  --cod-blue: #1F3464;
  --cod-blue-var: #0B36E5;
  --cod-purple: #320868;
  --cod-purple-var: #5E00F5;
  --cod-gray: #424242;
  --cod-gray-var: #575766;
  --cod-orange: #533000;
  --cod-orange-var: #804200;
  --cod-green: #204400;
  --cod-green-var: #306100;
  --cod-teal: #003944;
  --cod-teal-var: #035E7C;
}
.highlight{
  position:relative;
  margin: 3rem 0;
  border: 1px solid var(--alpha-outl);
  border-radius: 4px;
  background-color: var(--cod-bg);
  padding: .5rem 1rem ;
  font-family: var(--alpha-monospace);
  font-size: 1rem;
}
html.dark {
  --cod-bg:#424242;
  --cod-text:#fff;
  --cod-text-var: #f2f2f2;
  --cod-red: #FCE8E8;
  --cod-red-var:#FFD1D1;
  --cod-blue: #E9EEFC;
  --cod-blue-var: #C7DDFF;
  --cod-purple:#F4ECFD;
  --cod-purple-var: #E6D6FF;
  --cod-gray: #EBEBEB;
  --cod-gray-var:#D9D9D9;
  --cod-orange: #FFEBD1;
  --cod-orange-var:#FFD29E;
  --cod-green: #C9FF99;
  --cod-green-var: #72F500;
  --cod-teal: #B8F3FF;
  --cod-teal-var: #B9DEE9;
}
.highlight-header {
  display:flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 1rem 0;
}
code {
    word-wrap: break-word;
  white-space: pre-wrap;
  font-family: var(--alpha-monospace);  
  padding: 0 3px;
  border-radius: 2px;
}
.highlight code {
  background-color: var(--cod-bg);
}

/* Background */
.bg { color: var(--cod-blue); background-color: var(--cod-bg); }
/* PreWrapper */
.chroma { color: var(--cod-blue); background-color: var(--cod-bg); }

/* Other */
.chroma .x { color: var(--cod-text-var); }

/* Error */
.chroma .err { color: var(--cod-red); font-weight: bold; }

/* CodeLine */
.chroma .cl { color: var(--cod-text-var); }

/* LineLink */
.chroma .lnlinks { outline: none; text-decoration: none; color: inherit; }

/* LineTableTD */
.chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }

/* LineTable */
.chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; }

/* LineHighlight */
.chroma .hl { background-color: var(--cod-gray-var); }

/* LineNumbersTable */
.chroma .lnt { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--cod-gray); }

/* LineNumbers */
.chroma .ln { white-space: pre; -webkit-user-select: none; user-select: none; margin-right: 0.4em; padding: 0 0.4em 0 0.4em; color: var(--cod-gray); }

/* Line */
.chroma .line { }

/* Keywords */
.chroma .k, .chroma .kp, .chroma .kr, .chroma .nt { color: var(--cod-purple); font-weight: bold; }
.chroma .kc { color: var(--cod-orange); }
.chroma .kd { color: var(--cod-purple-var); }
.chroma .kn { color: var(--cod-teal-var); }
.chroma .kt { color: var(--cod-teal); font-weight: bold; }

/* Names */
.chroma .n { color: var(--cod-text-var); }
.chroma .nx { color: var(--cod-text); }
.chroma .na { color: var(--cod-blue); }
.chroma .nb, .chroma .bp, .chroma .nl { color: var(--cod-green); }
.chroma .nc { color: var(--cod-orange-var); font-weight: bold; }
.chroma .no { color: var(--cod-orange); }
.chroma .nd { color: var(--cod-blue); font-weight: bold; }
.chroma .ni { color: var(--cod-teal); }
.chroma .ne { color: var(--cod-red-var); }
.chroma .nf, .chroma .fm { color: var(--cod-blue-var); }
.chroma .nn { color: var(--cod-orange); font-weight: bold; }
.chroma .py { color: var(--cod-orange); }

/* Variables */
.chroma .nv, .chroma .vc, .chroma .vg, .chroma .vi, .chroma .vm { color: var(--cod-text); }

/* Strings */
.chroma .s, .chroma .sa, .chroma .sb, .chroma .sc, .chroma .s2, .chroma .si, .chroma .sx, .chroma .s1, .chroma .ss { color: var(--cod-green); }
.chroma .sd, .chroma .sh { color: var(--cod-text-var); font-style: italic; }
.chroma .dl { color: var(--cod-blue); }
.chroma .se, .chroma .sr { color: var(--cod-teal); }

/* Numbers */
.chroma .m, .chroma .mb, .chroma .mf, .chroma .mh, .chroma .mi, .chroma .il, .chroma .mo { color: var(--cod-orange-var); }

/* Operators */
.chroma .o, .chroma .ow { color: var(--cod-green-var); font-weight: bold; }

/* Punctuation */
.chroma .p { color: var(--cod-text-var); }

/* Comments */
.chroma .c, .chroma .ch, .chroma .cm, .chroma .c1, .chroma .cs, .chroma .cp, .chroma .cpf { color: var(--cod-gray); font-style: italic; }

/* Generic */
.chroma .g { color: var(--cod-text); }
.chroma .gd { color: var(--cod-red); background-color: var(--cod-red-var); } /* Stronger contrast for deleted text */
.chroma .gi { color: var(--cod-green); background-color: var(--cod-green-var); } /* Stronger contrast for inserted text */
.chroma .ge { font-style: italic; }
.chroma .gr, .chroma .gt { color: var(--cod-red); }
.chroma .gh, .chroma .gu { color: var(--cod-orange); font-weight: bold; }
.chroma .gl { text-decoration: underline; }

/* Text Whitespace */
.chroma .w { color: var(--cod-gray-var); }
