{{- /*
  Partial: components/card-post.html
  Purpose: Re-usable link card styled for post lists.
*/}}
{{- $page := . }}

{{- $titleAccent := substr $page.Title 0 1 | upper -}}
{{- $isNew := gt $page.Date (now.AddDate 0 0 -7) -}}
{{- $series := $page.Params.series -}}
{{- $category := "" -}}
{{- with $page.GetTerms "categories" }}
  {{- with index . 0 -}}
    {{- $category = .LinkTitle -}}
  {{- end }}
{{- end -}}

<a
  class="group transition-drop-shadow relative mt-20 flex w-full max-w-sm justify-center rounded-md drop-shadow-md duration-300 ease-out hover:drop-shadow-xl"
  href="{{ $page.Permalink }}"
  aria-label="{{ i18n "ReadThePost" $page }}"
>
  <article
    class="bg-sur/95 dark:bg-sur-var-d/95 border-out-var dark:border-out-var-d relative z-20 flex min-h-50 w-full flex-col items-center justify-center gap-5 overflow-hidden rounded-md border p-4"
  >
    {{- if $isNew }}
      <div
        class="text-on-sur-var dark:text-on-sur-var-d font-400 font-inter border-out-var dark:border-out-var-d bg-sur dark:bg-out-var-d absolute top-2 -left-5 z-30 flex h-6 w-20 -rotate-45 transform items-center justify-center border text-center text-xs"
      >
        <span>{{ i18n "New" $page }}</span>
      </div>
    {{- end }}
    <h2
      class="dark:text-on-sur-var-d font-300 text-on-sur-var group-hover:text-on-sur dark:group-hover:text-on-sur-d flex max-h-full w-full grow items-center justify-center overflow-y-hidden text-center font-serif text-2xl"
    >
      {{ $page.Title }}
    </h2>
    {{- if or $series $category }}
      <footer
        class="text-on-sur-var dark:text-on-sur-var-d flex w-full items-center justify-between text-xs"
      >
        <div class="flex w-1/2 shrink-0 items-center gap-1">
          {{- with $series }}
            <svg
              class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="#icon-series"></use>
            </svg>
            <span class="truncate text-right">{{ . }}</span>
          {{- end }}
        </div>
        <div class="flex w-1/2 shrink-0 items-center justify-end gap-1">
          {{- with $category }}
            <svg
              class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
              width="20"
              height="20"
              aria-hidden="true"
            >
              <use href="#icon-category"></use>
            </svg>
            <span class="truncate text-right">{{ . }}</span>
          {{- end }}
        </div>
      </footer>
    {{- else }}
      {{- /* Maintain the card layout if no series/category */}}
      <div class="h-4 w-full"></div>
    {{- end }}
  </article>
  <div
    class="text-shadow font-500 text-on-sur-var transition-top absolute top-0 z-10 font-serif text-[10rem]/1 duration-300 ease-out group-hover:-top-10 group-focus:-top-10"
    aria-hidden="true"
  >
    {{ $titleAccent }}
  </div>
</a>
