{{- /*
  Partial: components/metadata-taxonomy.html 
  Purpose: Displays category and tag links sourced from the  page's frontmatter.

  Features:
  - Displays a link for the first term from the 
    'categories' taxonomy.
  - Displays links for all terms from the 'tags' 
    taxonomy.

  Repo: https://github.com/oxypteros/alpha
*/}}
{{ $categories := .GetTerms "categories" }}
{{- $tags := .GetTerms "tags" }}
{{- if $categories }}
  <div class="flex shrink-0 items-center gap-1 text-sm">
    <svg
      class="fill-on-sur-var dark:fill-on-sur-var-d size-4"
      aria-hidden="true"
      width="16"
      height="16"
    >
      <use href="#icon-category"></use>
    </svg>
    {{- range first 1 $categories }}
      <a
        class="group hover:text-on-sur-var dark:hover:text-on-sur-var-d flex items-center truncate"
        href="{{ .Permalink }}"
        title="{{ i18n "Category" . | default "Category:"}} {{ .LinkTitle }}"
      >
        {{ .LinkTitle }}
      </a>
    {{- end }}
  </div>
{{- else }}
   {{- /* Render an empty div if no categories to maintain layout consistency. */ -}}
  <div></div>
{{- end }}
{{- if $tags }}
  <div class="flex flex-wrap items-center gap-3 text-sm">
    {{- range $tags }}
      <a
        class="hover:text-on-sur-var dark:hover:text-on-sur-var-d group flex items-center truncate"
        href="{{ .Permalink }}"
        title="{{ i18n "TaggedAs" . | default "Tagged as:" }} {{ .LinkTitle }}"
      >
        <svg
          class="fill-on-sur-var dark:fill-on-sur-var-d group-hover:fill-on-sur-var dark:group-hover:fill-on-sur-var-d size-4"
          aria-hidden="true"
          width="16"
          height="16"
        >
          <use href="#icon-tag"></use>
        </svg>
        {{ .LinkTitle }}
      </a>
    {{- end }}
  </div>
{{- end }}
