{{- /*
  paginator.html (partial): Renders a paginated list of items as styled cards.
  
  Features:
  - Custom sorting: Pages with 'weight' are prioritized, then all pages are sorted by date (descending). Pagination is applied to this final sorted list.
  - "New" indicator: Displayed if the item was published within 7 days of the site build.
  - Metadata: Shows series (if any) and the first category (if any).
  - Decorative Accent: Displays the first letter of the item's title as a large, stylized background element.

  Dependency: `partial "pagination.html"`

  Condition for Display:
  - This partial is rendered if `paginate = true` is in the calling template's frontmatter, or if `paginate` is not defined (nil) in the current page's frontmatter. 
  - To disable, explicitly set `paginate = false` in the page's frontmatter.

  Repo: https://github.com/oxypteros/alpha-theme
*/ -}}

{{- /*
  Enable this paginator if `paginate = true` in the frontmatter or the key is missing in page's that use the list layout.
  Must explicitly set to false to disable the pagination
*/}}
{{- if or ( eq .Params.paginate true) (eq .Page.Params.paginate nil) }}
  <div
    id="paginate"
    class="mt-20 mb-50 flex w-full flex-col items-center justify-center px-4"
  >
    <div
      class="mt-22 flex w-full max-w-7xl flex-wrap items-center justify-center gap-25"
    >
      {{- /** Show first the weighted pages and after the unweighted */}}
      {{ $weightedPages := where .Pages "Weight" "gt" 0 }}
      {{ $unweightedPages := where .Pages "Weight" "eq" 0 }}
      {{ $sortedWeighted := sort $weightedPages "Weight" "asc" ".Date" "desc" }}
      {{ $sortedUnweighted := sort $unweightedPages ".Date" "desc" }}
      {{ $finalPages := $sortedWeighted }}
      {{ $finalPages = append $sortedUnweighted $finalPages }}
      {{ range (.Paginate $finalPages).Pages }}
        {{- /* Find the first letter of the title */}}
        {{- $titleAccent := substr .Title 0 1 }}

        {{- /* Display only the first category term of the taxonomy*/}}
        {{- $categories := .GetTerms "categories" }}
        {{- $category := "" }}
        {{- range first 1 $categories }}
          {{- $category = .LinkTitle }}
        {{- end }}
        {{- /* Display 'new' badge only if `date` < 7 days from last build */}}
        {{- $new := gt .Date (now.AddDate 0 0 -7) }}
        <a
          class="group transition-drop-shadow relative flex w-full max-w-sm justify-center rounded-md drop-shadow-md duration-300 ease-out hover:drop-shadow-xl"
          href="{{ .Permalink }}"
          aria-label="{{ i18n "ReadThePost" . | default "Read the post"}}"
        >
          <article
            class="bg-sur/95 dark:bg-sur-var-d/95 border-out-var dark:border-out-var-d relative z-20 flex min-h-50 w-full flex-col items-center justify-center gap-5 overflow-hidden rounded-md border p-4"
          >
            {{- if $new }}
              {{- $date := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
              <div
                class="text-on-sur-var dark:text-on-sur-var-d font-400 font-inter border-out-var dark:border-out-var-d bg-sur dark:bg-out-var-d absolute top-2 -left-5 z-30 flex h-6 w-20 -rotate-45 transform items-center justify-center border text-center text-xs"
              >
                <time datetime="{{ $date }}">{{ i18n "New" . | default "new" }}</time>
              </div>
            {{- end }}
            <h2
              class="dark:text-on-sur-var-d font-300 text-on-sur-var group-hover:text-on-sur dark:group-hover:text-on-sur-d flex max-h-full w-full grow items-center justify-center overflow-y-hidden text-center font-serif text-2xl"
            >
              {{ .Title }}
            </h2>
            {{- if or .Page.Params.series $categories }}
              <footer
                class="text-on-sur-var dark:text-on-sur-var-d flex w-full items-center justify-between text-xs"
              >
                <div class="flex w-1/2 shrink-0 items-center gap-1">
                  {{ with .Page.Params.series }}
                    <svg
                      class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
                      aria-hidden="true"
                    >
                      <use href="#icon-series"></use>
                    </svg>
                    <span class="truncate text-right">{{ . }}</span>
                  {{- end }}
                </div>
                <div class="flex w-1/2 shrink-0 items-center justify-end gap-1">
                  {{- with $category }}
                    <svg
                      class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
                      aria-hidden="true"
                    >
                      <use href="#icon-category"></use>
                    </svg>
                    <span class="truncate text-right">{{ . }}</span>
                  {{- end }}
                </div>
              </footer>
            {{- else }}
            {{- /* Maintain the card layout if no series/category */}}
              <div class="h-4 w-full"></div>
            {{- end }}
          </article>
          <div
            class="text-shadow font-500 text-on-sur-var transition-top absolute top-0 z-10 font-serif text-[10rem]/1 duration-300 ease-out group-hover:-top-10 group-focus:-top-10"
            aria-hidden="true"
          >
            {{ $titleAccent }}
          </div>
        </a>
      {{- end }}
    </div>
    <div class="mt-30 flex w-full max-w-5xl items-center justify-center">
      {{- partial "pagination.html" . }}
    </div>
  </div>
{{- end }}
