{{- /*
  recommended-posts.html (partial): Renders links styled as card of pages marked as recommended.

  Features:
  - Displays a maximum of 4 recommended pages, selected randomly.
  - Each card includes:
      - A "New" indicator if the recommended item was published
        within 7 days of the site build.
      - Metadata: Shows series (if any) and the first category (if any)
        of the recommended item.
      - Decorative Accent: Displays the first letter of the recommended
        item's title as a large, stylized background element.

  Conditions for Display:
  - At least one page must have `recommended = true` in its frontmatter.
  - This section is displayed on all content pages, *except* if the
    current page belongs to a series and is *not* the last part of that series
    (determined by `weight`).
  - The current page is always excluded from the list of recommendations.

  To-do: 
  1. Exclude the current page with another method (.Permalink?) to avoid
     exclusions if pages have the same title
  2. DRY: add the card rendering to a partial (duplicated code with paginator)

  Repo: https://github.com/oxypteros/alpha
*/ -}}
{{- $currentPage := . }}
{{- $recommendedPages := where site.RegularPages "Params.recommended" true }}

{{- /* Exclude the current page from recommendations */}}
{{- $recommendedPages = where $recommendedPages "Params.title" "ne" $currentPage.Title }}

{{- /* Number of random pages to pick */}}
{{- $numPages := 4 }}

{{- /* Get a randomized sample, but don’t exceed the $numPages */}}
{{- $sampleSize := math.Min (len $recommendedPages) $numPages }}

{{- /* Shuffle our sample */}}
{{- $randomPages := first $sampleSize ($recommendedPages | shuffle) }}
{{- $currentSeries := .Page.Params.series }}
{{- $currentWeight := .Page.Params.weight | int }}
{{- $seriesPages:= where site.RegularPages "Params.series" $currentSeries }}


{{- /* Find the page with the biggest weight */}}
{{- $maxPage := index (sort $seriesPages "Params.weight" "desc") 0 }}
{{- $maxWeight := $maxPage.Params.weight | int }}

{{/* Show recommended posts only if the page is not part of a series or is the last part of one. */}}
{{ if or (eq $currentSeries "") (eq $currentWeight $maxWeight) }}
  {{- if gt (len $randomPages) 0 }}
    <section class="mb-16 flex w-full flex-col items-center">
      <div class="flex w-full grow items-center gap-4">
        <div
          class="bg-out-var dark:bg-out-var-d h-0.5 max-w-1/8 grow rounded-full"
        ></div>
        <h2 class="font-300 text-on-sur-var dark:text-on-sur-var-d text-3xl">
          {{ i18n "RecommendedPosts" . }}
        </h2>
        <div class="bg-out-var dark:bg-out-var-d h-0.5 grow rounded-full"></div>
      </div>
      <div
        class="mt-24 flex w-full flex-wrap items-center justify-center gap-25"
      >
        {{- range $randomPages }}
          {{- /* Find the first letter of the title */}}
          {{- $titleAccent := substr .Title 0 1 }}

          {{- /* Display only the first category term of the taxonomy */}}
{{- $category := "" -}}
{{- with .GetTerms "categories" -}} 
  {{- if ge (len .) 1 -}} 
    {{- $category = (index . 0).LinkTitle -}} 
  {{- end -}}
{{- end -}}

          {{- /* Display 'new' badge only if `date` < 7 days from last build */}}
          {{- $new := gt .Date (now.AddDate 0 0 -7) }}
          <a
            class="group transition-drop-shadow relative flex w-full max-w-sm justify-center rounded-md drop-shadow-md duration-300 ease-out hover:drop-shadow-xl mt-20"
            href="{{ .Permalink }}"
            aria-label="{{ i18n "ReadThePost" . | default "Read the post"}}"
          >
            <article
              class="bg-sur/95 dark:bg-sur-var-d/95 border-out-var dark:border-out-var-d relative z-20 flex min-h-50 w-full flex-col items-center justify-center gap-5 overflow-hidden rounded-md border p-4"
            >
              {{- if $new }}
                {{- $date := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
                <div
                  class="text-on-sur-var dark:text-on-sur-var-d font-400 font-inter border-out-var dark:border-out-var-d bg-sur dark:bg-out-var-d absolute top-2 -left-5 z-30 flex h-6 w-20 -rotate-45 transform items-center justify-center border text-center text-xs"
                >
                  <time datetime="{{ $date }}">{{ i18n "New" . | default "new" }}</time>
                </div>
              {{- end }}
              <h2
                class="dark:text-on-sur-var-d font-300 text-on-sur-var group-hover:text-on-sur dark:group-hover:text-on-sur-d flex max-h-full w-full grow items-center justify-center overflow-y-hidden text-center font-serif text-2xl"
              >
                {{ .Title }}
              </h2>
              {{- if or .Page.Params.series $category }}
                <footer
                  class="text-on-sur-var dark:text-on-sur-var-d flex w-full items-center justify-between text-xs"
                >
                  <div class="flex w-1/2 shrink-0 items-center gap-1">
                    {{ with .Page.Params.series }}
                      <svg
                        class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
                        width="20"
                        height="20"
                        aria-hidden="true"
                      >
                        <use href="#icon-series"></use>
                      </svg>
                      <span class="truncate text-right">{{ . }}</span>
                    {{- end }}
                  </div>
                  <div
                    class="flex w-1/2 shrink-0 items-center justify-end gap-1"
                  >
                    {{- with $category }}
                      <svg
                        class="fill-on-sur-var dark:fill-on-sur-var-d size-4 shrink-0"
                        width="20"
                        height="20"
                        aria-hidden="true"
                      >
                        <use href="#icon-category"></use>
                      </svg>
                      <span class="truncate text-right">{{ . }}</span>
                    {{- end }}
                  </div>
                </footer>
              {{- else }}
              {{- /* Maintain the card layout if no series/category */}}
                <div class="h-4 w-full"></div>
              {{- end }}
            </article>
            <div
              class="text-shadow font-500 text-on-sur-var transition-top absolute top-0 z-10 font-serif text-[10rem]/1 duration-300 ease-out group-hover:-top-10 group-focus:-top-10"
              aria-hidden="true"
            >
              {{ $titleAccent }}
            </div>
          </a>
        {{- end }}
      </div>
    </section>
  {{- end }}
{{- end }}
